:root{
    --fundo: #a05e67;
    --frente-cartao:#F08080;
    --verso-cartao: #A52A2A;
    --destaque:#800000 ;
    --preto: #000000;
    --branco: #ffffff;
}

body{
    background-color: var(--fundo);
    margin: 0;
}

footer{
    background-color: var(--preto);
    position: fixed;
    bottom: 0;
    color: var(--branco);
    width: 100%;
    text-align: center;
    
}

#container{
    padding: 4rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wraph;
}